<!-- <app-slider1
  [slides]="sampleSlides"
  [autoPlayInterval]="1000"
  size="full-width"
></app-slider1> -->

<!-- <app-slider2
  [slides]="sampleSlides"
  [autoPlayInterval]="1000"
  size="full-width"
></app-slider2> -->

<!-- <app-slider3
  [slides]="sampleSlides"
  [autoPlayInterval]="1000"
  size="small"
></app-slider3> -->

<div
  class="flex flex-col md:flex-row gap-8 justify-center items-center py-10 bg-gray-100"
>
  <!-- Card 1 -->
  <app-card1
    [imageUrl]="card1.image"
    [title]="card1.title"
    [description]="card1.description"
  ></app-card1>
  <app-card2
    [imageUrl]="blogPost.image"
    [category]="blogPost.category"
    [title]="blogPost.title"
    [description]="blogPost.description"
  ></app-card2>

  <app-card4 [title]="devCard.title" [description]="devCard.description">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-16 w-16"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="1.5"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"
      />
    </svg>
  </app-card4>
</div>

<div class="flex gap-10 mx-auto justify-center">
  <app-card3
    [imageUrl]="user1.pic"
    [name]="user1.fullName"
    [role]="user1.jobTitle"
    [email]="user1.contactEmail"
    [phone]="user1.contactPhone"
  ></app-card3>

  <app-card5
    [imageUrl]="user1.pic"
    [name]="user1.fullName"
    [role]="user1.jobTitle"
    [email]="user1.contactEmail"
    [phone]="user1.contactPhone"
  ></app-card5>
</div>
